
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eeeeee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    text-align: center;
  }

  header {
    background-color: blue;
    align-items: center;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    width: 100%;
    border:none;
    font-size: 20px;
  }
 
  footer{
    background-color: blue;
    color: aliceblue;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    border: none;
    font: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  html {
    position: relative;
    min-height: 100%;
}

button{
    background-color: #444;
    color: aliceblue;
    border-radius: 5px;
    

}